@import "./banner.component.css";
@import "./explorer.component.css";

#app-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 40vh 60vh;
}

#app-container.dark {
  background-color: var(--dark);
  color: var(--white);
}

#app-container.light {
  background-color: var(--white);
  color: var(--dark);
}
